{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />


    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    <!----======== CSS ======== -->
    <link rel="stylesheet" href="{% static 'dashboard/styles/dashboard.css' %}">

    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <title>Create Room</title>
</head>

<body>
    <nav>
        <div class="logo-name">
            <div class="logo-image">
                <img src="{% static 'dashboard/images/logo.png' %}" alt="">
            </div>

            <span class="logo_name" style=>Urban Escape</span>
        </div>

        <div class="menu-items" style="margin-left: -30px;">
            <ul class="nav-links">

                <li><a href="/admin-dashboard">
                        <i class="uil uil-calendar-alt"></i>
                        <span class="link-name">Dashboard</span>
                    </a></li>

                <li><a href="/staffs">
                        <i class="uil uil-credit-card" style="color: #0d6efd;"></i>
                        <span class="link-name" style="color: #0d6efd;">Staffs</span>
                    </a></li>
                <li><a href="/rooms">
                        <i class="uil uil-comments"></i>
                        <span class="link-name">Rooms</span>
                    </a></li>
                <li><a href="/profile">
                        <i class="uil uil-user-circle"></i>
                        <span class="link-name">Reviews and Ratings</span>
                    </a></li>
            </ul>

            <ul class="logout-mode">
                <li><a href="#">
                        <i class="uil uil-signout"></i>
                        <span class="link-name">Logout</span>
                    </a></li>

                <li class="mode">


                    <div class="mode-toggle">

                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <section class="dashboard">
        <div class="top">
            <i class="uil uil-bars sidebar-toggle"></i>

            <div class="search-box">
                <i class="uil uil-search"></i>
                <input type="text" placeholder="Search here...">
            </div>

            <!--<img src="images/profile.jpg" alt="">-->
        </div>

        <div class="dash-content">
            <div class="overview">
                <div class="title">
                    <i class="uil uil-tachometer-fast-alt"></i>
                    <span class="text">Create Staff</span>
                </div>

                <form action="" method="post">

                    {% csrf_token %}




                    <button type="submit" class="btn btn-primary">Create</button>

                </form>
                <div class="activity">



                </div>
            </div>
    </section>

    <script src="{% static 'dashboard/scripts/dashboard.js' %}"></script>
</body>

</html>