{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />


    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    <!----======== CSS ======== -->
    <link rel="stylesheet" href="{% static 'dashboard/styles/dashboard.css' %}">

    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <title>Feedbacks</title>
    <style>
        .bordered-table {
            border: 1px solid black;

        }

        .table-container {
            margin-top: 20px;

        }
    </style>
</head>

<body>
    <nav>
        <div class="logo-name">
            <div class="logo-image">
                <img src="{% static 'dashboard/images/logo.png' %}" alt="">
            </div>

            <span class="logo_name" style=>Urban Escape</span>
        </div>

        <div class="menu-items" style="margin-left: -30px;">
            <ul class="nav-links">

                <li><a href="/staff-dashboard">
                        <i class="uil uil-calendar-alt"></i>
                        <span class="link-name">Bookings</span>
                    </a></li>

                <li><a href="/feedbacks">
                        <i class="uil uil-calendar-alt" style="color: #0d6efd;"></i>
                        <span class="link-name" style="color: #0d6efd;">Feedbacks</span>
                    </a></li>


                <li><a href="/staff-profile">
                        <i class="uil uil-user-circle"></i>
                        <span class="link-name">Profile</span>
                    </a></li>
            </ul>
            <ul class="logout-mode">
                <li><a href="/logout">
                        <i class="uil uil-signout"></i>
                        <span class="link-name">Logout</span>
                    </a></li>

                <li class="mode">


                    <div class="mode-toggle">

                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <section class="dashboard">
        <div class="top">
            <i class="uil uil-bars sidebar-toggle"></i>



            <!--<img src="images/profile.jpg" alt="">-->
        </div>

        <div class="dash-content">
            <div class="overview">



                <div class="title">
                    <i class="uil uil-calendar-alt"></i>
                    <span class="text">Feedbacks</span>
                </div>
                <div class="table-container">
                    <table class="table table-striped bordered-table">
                        <thead>
                            <tr>
                                <th>User</th>
                                <th>Date</th>
                                <th>Feedback</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for feedback in all_feedback %}
                            <tr>
                                <td>{{ feedback.user }}</td>
                                <td>{{ feedback.date }}</td>
                                <td>{{ feedback.feedback }}</td>
                                <td><a href="/view-extend/{{ feedback.user.id }}"><button>View</button></a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="activity">



            </div>
        </div>
    </section>

    <script src="{% static 'dashboard/scripts/dashboard.js' %}"></script>
    <script>


        // Get today's date in YYYY-MM-DD format
        let today = new Date().toISOString().split('T')[0];

        // Calculate tomorrow's date
        let tomorrow = new Date();
        tomorrow.setDate(tomorrow.getDate() + 1);
        let tomorrowFormatted = tomorrow.toISOString().split('T')[0];

        // Construct the URL with today's date as check-in date and tomorrow's date as check-out date, and set adult and child values to 0
        let url_to_request = `/booking_list_filter/?check_in_date=${today}&check_out_date=${tomorrowFormatted}&adult=1&child=0`;

        // Output the constructed URL
        console.log(url_to_request);

        function getAvailableRooms(url_to_request) {
            document.getElementById('available_r').style.display = 'none';
            var checkinDate = new Date(document.getElementById('checkin').value);
            var checkoutDate = new Date(document.getElementById('checkout').value);


            // Check if check-in and check-out dates are equal
            if (checkinDate.getTime() === checkoutDate.getTime()) {
                // Dates are equal, show error message
                document.getElementById('error_message').style.display = 'block'
                document.getElementById('error_message').innerText = "Check-in and check-out dates cannot be the same.";
                return; // Exit function
            }

            if (checkinDate >= checkoutDate) {
                // Check-in date is not earlier than checkout date, show error message
                document.getElementById('error_message').innerText = "Check-in date must be earlier than checkout date.";
                return; // Exit function
            }
            fetch(url_to_request)
                .then(response => {
                    // Check if response is successful (status code 200)
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    // Parse response data as JSON
                    return response.json();
                })
                .then(data => {
                    setTimeout(() => {

                    }, 1000);
                    document.getElementById('available_r').style.display = 'block';
                    // Handle the data from the response
                    console.log('Response data:', data);
                    if (status == 0) {
                        // Assuming `data` is your JavaScript variable containing the data
                        const bookings = JSON.stringify(data.bookings); // Convert bookings object to a JSON string
                        console.log(bookings)
                        if (!bookings) {

                            document.getElementById('error_message').style.display = 'block'
                            document.getElementById('error_message').innerHTML = "Rooms are not available for the specified date"
                            return
                        }
                        // Construct the URL with query parameters


                        console.log(data.bookings)
                        let roomCounts = data.bookings
                        for (let roomType in roomCounts) {
                            console.log(roomType + ": " + roomCounts[roomType]);

                        }


                        // Data in the available_bookings variable
                        let available_bookings = data.bookings

                        // Get the table body element
                        let tableBody = document.getElementById('roomTableBody');
                        tableBody.innerHTML = ''
                        // Iterate over the available_bookings object
                        for (let room in available_bookings) {
                            if (available_bookings.hasOwnProperty(room)) {
                                // Create a new row element
                                let newRow = document.createElement('tr');

                                // Create cell elements for room name and availability
                                let roomCell = document.createElement('td');
                                roomCell.textContent = room;

                                let availabilityCell = document.createElement('td');
                                availabilityCell.textContent = available_bookings[room];

                                // Append cell elements to the row
                                newRow.appendChild(roomCell);
                                newRow.appendChild(availabilityCell);

                                // Append the row to the table body
                                tableBody.appendChild(newRow);
                            }
                        }
                        if (!available_bookings) {
                            tableBody.innerHTML = ''
                            document.getElementById('error_message').style.display = 'block'
                        }
                        else {

                            document.getElementById('error_message').style.display = 'none'
                        }
                        // return 0


                        // Redirect to the constructed URL
                        // window.location.href = url;
                    } else {
                        alert('No rooms available')
                    }
                    // You can perform further actions with the data here
                })
                .catch(error => {
                    // Handle any errors that occur during the fetch operation
                    console.error('There was a problem with the fetch operation:', error);
                });
            // Disable past dates in the date input fields
        }

        document.getElementById('viewRooms').addEventListener('click', (() => {
            let checkin = document.getElementById('checkin').value
            let checkout = document.getElementById('checkout').value
            let url_to_request = `/booking_list_filter/?check_in_date=${checkin}&check_out_date=${checkout}&adult=1&child=0`;
            document.getElementById('available_r').style.display = 'block';
            getAvailableRooms(url_to_request);
        }))


    </script>
    <script>
        today = new Date().toISOString().split('T')[0];
        document.getElementById('checkin').setAttribute('min', today);
        document.getElementById('checkout').setAttribute('min', today);

    </script>

</body>

</html>